.order-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    background-color: #F3E8FF
  }
  
  mat-card {
    width: 70%;
    max-width: 800px;
    height: 40%;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
  }
  
  .order-table {
    width: 100%;
    overflow-x: auto;
  }
  
  .order-table td {
    white-space: nowrap;
  }
  
  .submit-button {
    margin-bottom: 40px;
    display: block;
  }
  