/*.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}*/
.mat-toolbar {
    background-color: #89375F;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
  }


  .footer-content {
    display: flex;
    justify-content: center; /* justify content in center */
    align-items: center; /* align items in center */
  }

  .footer-content p {
    text-align: justify;
  }
