.header-buttons {
    align-items: right;
}

.example-spacer{
    display: flex;
    margin-left: auto;
}

.header-search{
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
}