<div class="header">
<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" routerLink="/welcome" aria-label="Example icon-button with menu icon">
        <mat-icon>pets</mat-icon>
    </button>
    <span>MaxPetShop</span>
    <span class="example-spacer"></span>
    <div class="header-buttons">
        <button mat-icon-button routerLink="/users/login" class="login-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>face</mat-icon>
        </button>
        <button mat-icon-button routerLink="/carts" class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>shopping_cart</mat-icon>
        </button>
        <button mat-icon-button (click)="onClick()" class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
</mat-toolbar>
</div>