.login-container {
    margin: 0 auto;
    max-width: 500px;
    background-color: #BACDDB;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .mat-form-field {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .mat-error {
    color: red;
  }
  
  .register-link {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  @media screen and (max-width: 600px) {
    .example-card {
      max-width: 90%;
    }
  }
  