<mat-card>
    <mat-card-title>Created on: {{ receipt.createDate | date:'dd/MM/yyyy h:mm a' }}</mat-card-title>
    <mat-card-content>
        <p><strong>User:</strong> {{ receipt.user!.name }}</p>
        <p><strong>Products:</strong></p>
        <mat-list>
            <mat-list-item *ngFor="let item of receipt.cart?.items">
                <span matLine>{{ item.product!.name }}</span>
                <span matLine>{{ item.quantity }}</span>
                <span matLine>{{ item.subTotal }}</span>
            </mat-list-item>
        </mat-list>
        <p><strong>Total:</strong> {{ receipt.cart?.totalPrice | currency }}</p>
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-mini-fab color="primary" (click)="goToDeleteReceipt(receipt.id)"><mat-icon>Delete</mat-icon></button>
    </mat-card-actions>
</mat-card>


