<div class="card-container">
    <mat-card class="card">
            <mat-card-header class="productHeader">
                <mat-card-title class="productTitle">{{product.name}}</mat-card-title>
                <mat-card-subtitle>{{product.brand}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="productImage" src="{{product.image}}" alt="product's photo">
            <mat-card-content class="productInfo">
                <mat-card-subtitle><b>For:</b> {{product.animalType}}</mat-card-subtitle>
                <mat-card-subtitle><b>Category:</b> {{product.category}}</mat-card-subtitle>
                <div mat-card-avatar class="card-price">${{ product.unitaryPrice }}</div>
            </mat-card-content>
            <mat-card-actions align="start">
                <button mat-mini-fab color="primary" (click)="ngSaveItem()"><mat-icon>add_shopping_cart</mat-icon></button>
            </mat-card-actions>
    </mat-card>
</div>
