.containerproductlist {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers the container horizontally */
  padding: 20px;
}

.titleContainer {
  text-align: center; /* centers the title text horizontally */
}

.productsContainer {
  display: flex;
  flex-wrap: wrap; /* allows the products to wrap to a new line */
  justify-content: center; /* centers the products horizontally */
  margin-top: 20px;
}

.productsContainer *{
  margin: 10px;
}
.productCard {
  flex-basis: 22%; /* sets the width of each product card */
}

.found {
  display: flex;
  justify-content: center; /* centers the found text horizontally */
 
}

.pagination {
  display: flex;
  justify-content: center; /* centers the pagination horizontally */
  
}