<div class="containerText">
    <h1 class="headerText">Welcome to MaxPetShop Catalog</h1>
    <h2 class="subHeaderText">We are glad that you are here!</h2>
    <p class="bodyText">Please, select an option.</p>
  </div>
  
  <div class="card-container">
    <mat-card class="card" (click)="goToProductList('dog')">
      <img mat-card-image src="https://picsum.photos/id/237/200/300" alt="dog photo">
      <mat-card-title>Dogs</mat-card-title>
    </mat-card>
  
    <mat-card class="card" (click)="goToProductList('cat')">
      <img mat-card-image src="https://picsum.photos/id/237/200/300" alt="cat photo">
      <mat-card-title>Cats</mat-card-title>
    </mat-card>
  </div>