<div class="welcomeContainer">
<div class="containerText">
    <h1 class="headerText">Welcome to MaxPetShop Catalog</h1>
    <h2 class="subHeaderText">We are glad that you are here!</h2>
    <p class="bodyText">Please, select an option.</p>
  </div>
  
  <div class="card-container">
    <mat-card class="card" (click)="goToProductList('dog')">
      <img mat-card-image src="https://static6.depositphotos.com/1007995/625/i/450/depositphotos_6255919-stock-photo-two-cute-labrador-puppies.jpg" alt="dog photo">
    </mat-card>
  
    <mat-card class="card" (click)="goToProductList('cat')">
      <img mat-card-image src="https://st2.depositphotos.com/1833015/8771/i/600/depositphotos_87712392-stock-photo-maine-coon-kitten-portrait.jpg" alt="cat photo">
    </mat-card>
  </div>
</div>
  