
    <div class="containerText">
        <h1 [ngStyle]="{frontSize: '18vw', textAlign:'center'}"><b>Welcome to MaxPetShop Catalog</b></h1>
        <h2 [ngStyle]="{frontSize: '11vw', textAlign:'center'}"><b>We are glad that you are here!</b></h2>
        <p [ngStyle]="{ textAlign:'center'}">Please, select an option.</p>
    </div>

    <mat-card [ngStyle]="{margin: '5px 0px 5px 0px'}">
        <div [ngStyle]="{backgroundColor: '#add9dd', display: 'flex',  flexDirection: 'column'}">
            <img mat-card-image src="" alt="dog photo">
        </div>
    </mat-card>

    <mat-card [ngStyle]="{margin: '5px 0px 5px 0px'}">
        <div [ngStyle]="{backgroundColor: '#add9dd', display: 'flex',  flexDirection: 'column'}">
            <img mat-card-image src="" alt="cat photo">
        </div>
    </mat-card>
